<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <div class="centrado">
            <table>
                <tr>
                    <td>
                        <h1>Crear Usuario</h1>
                    </td>
                </tr>

                <form action="/users/create" method="post">
                    <tr>
                        <td>
                            <label for="name">Nombre</label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" size="10">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="age">Edad</label>
                        </td>
                        <td>
                            <input type="text" name="age" id="age" size="3">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Registrar">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </body>
</html>
