<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="centrado">
        <table>
            <tr>
                <td>
                    <h1>Modificar Usario</h1>
                </td>
            </tr>

            <form action="/users/update/<%= user[0]['id'] %>" method="post">
                <tr>
                    <td>
                        <label for="name">Nombre</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" size="10" value="<%= user[0]['name'] %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="age">Edad</label>
                    </td>
                    <td>
                        <input type="text" name="age" id="age" size="3" value="<%= user[0]['age'] %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Actualizar">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>